<aside>
    <ul class="outer_list">
        <li class="about">
            <h5>关于我</h5>
            <ul class="inner_list">
                <li><i class="fa fa-github github_icon" aria-hidden="true"></i><a href="https://github.com/tangzhirong">https://github.com/tangzhirong</a></li>
                <li><i class="fa fa-envelope email_icon" aria-hidden="true"></i><span>303143652@qq.com</span></li>
                <li><i class="fa fa-weixin weixin_icon" aria-hidden="true"></i><span>tzr18810543710</span></li>
            </ul>
        </li>
        <li class="demo">
            <h5>demo演示</h5>
            <ul class="inner_list">
                <li><a href="">听指令的小方块</a></li>
                <li><a href="">飞船</a></li>
                <li><a href="">企业级前端布局页</a></li>
            </ul>
        </li>
    </ul>
</aside>